{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "double"],
    "indent": [2, 2],
    "eol-last": [2, "always"],
    "no-mixed-requires": [0],
    "func-names": [2, "always"]
  }
}
